// body {
//   display: flex;
//   flex-direction: column;
//   min-height: 100vh;
// }

.container {
  flex: 1;
  display: flex;
  flex-direction: column;
  padding: 20px;

  .welcome-header {
    text-align: center;
  }

  .card-container {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 20px;
    overflow-y: auto;
  }

  .card {
    display: flex;
    flex-direction: column;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    flex-shrink: 0;
  }

  .card-header {
    display: flex;
    align-items: center;
    gap: 10px;
  }

  .card-header h2 {
    margin: 0;
    font-size: 1.5em;
  }

  .income-details, .expense-details, .todo-details {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  button.button {
    align-self: flex-start;
    padding: 10px 20px;
    background: linear-gradient(135deg, rgb(191, 124, 215), rgb(179, 137, 194));
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  
  button.button:hover {
    background-color:  #E0C4EAff;
  }

  .transaction-status, .transaction-details {
    display: flex;
    align-items: center;
    gap: 10px;
    
  }

}


@media (max-width: 768px) {
  .card-container {
      flex-direction: column;
  }

  .card {
      width: 100%;
  }

  .button {
      width: 100%;
      position: static;
      margin-top: 10px;
  }
}
