<app-side-nav></app-side-nav>
<div class="main-container">
    <div class="container">
        <h2>Todo Transactions</h2>
        <form [formGroup]="todoForm" (ngSubmit)="onSubmitExpense()" class="input-form">
            <div class="form-group">
                <label for="month">Select Month:</label>
                <select formControlName="month" id="month" class="form-control" (change)="onChangeExpense($event)">
                    <option value="" disabled>Select Month</option>
                    <option value="January">January</option>
                    <option value="February">February</option>
                    <option value="March">March</option>
                </select>
            </div>

            <!-- Total ToDo Transactions -->
            <div class="total-todoTrans mt-3">
                <strong>Total ToDo's for {{ selectedMonth }}:</strong> ${{ calculateTotalExpense(selectedMonth) }}
            </div>

            <!-- Transaction Type Input -->
            <div class="form-group mt-3">
                <label for="expenseType">Transaction Type:</label>
                <input type="text" formControlName="expenseType" id="expenseType" class="form-control"
                    placeholder="Enter Transaction Type" [class.disabled-dropdown]="!monthSelected">
            </div>

            <!-- Transaction Amount Input -->
            <div class="form-group mt-3">
                <label for="expenseAmount">Amount:</label>
                <input type="number" formControlName="expenseAmount" id="expenseAmount" class="form-control"
                    placeholder="Enter amount" [class.disabled-dropdown]="!monthSelected">
            </div>

            <!-- Add Transaction Button -->
            <button type="submit" class="btn btn-primary mt-3" [class.disabled-dropdown]="!monthSelected">
                Add Transaction
            </button>
        </form>

        <hr>

        <!-- Transaction List for the Selected Month -->
        <h3>Transaction List - {{ selectedMonth }}</h3>
        <table class="table">
            <thead>
                <tr>
                    <th>Transaction Type</th>
                    <th>Amount</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let todoTrans of expenses">
                    <td [ngClass]="{'strikeout': todoTrans.selected}" (click)="toggleSelection(todoTrans)">
                        {{ todoTrans.expenseType }}
                    </td>
                    <td>{{ todoTrans.expenseAmount }}</td>
                </tr>
            </tbody>
        </table>

        <!-- Back and Save Buttons -->
        <div class="input-form mt-4">
            <button class="btn btn-primary" (click)="onBack()">Back</button>
            <button class="btn btn-primary ml-2" (click)="saveForm()">Save</button>
        </div>
    </div>
</div>
<app-tool-bar></app-tool-bar>
