// .h-cover {
//     height: 100vh;
//   }
body {
  background-color:  #E0C4EAff;
}

  .login-container {
    max-width: 400px;
    margin: 100px auto 50px auto;
    background-color: #ffffff;
    border-radius: 10px;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    padding: 40px;

    button {
  width: 100%;
  padding: 15px;
  border: none;
  border-radius: 6px;
  background: linear-gradient(135deg, #008080, #80ced6);
  color: #ffffff;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

button:hover {
  background: #67bbc6;
}

input[type="email"],
input[type="password"],
input[type="text"] {
  width: 80%;
  padding: 15px;
  margin-left: 34px;
  margin-top: 12px;
  border-radius: 6px;
  border: 1px solid #008080;
  background-color: #f5f5f5;
}

input[type="email"]:focus,
input[type="password"]:focus,
input[type="text"]:focus {
  outline: none;
}

p {
  text-align: center;
  cursor: pointer;
  color: #666666;
  transition: color 0.3s ease;
}
  }
  
  // .input-box {
  //   width: 80%;
  //   margin-left: 34px;
  //   margin-top: 12px;
  //   padding: 10px;
  //   border: 1px solid #ccc;
  //   border-radius: 5px;
  // }
  
  
  // .relative {
  //   position: relative;
  // }
  
  
  // .center {
  //   display: flex;
  //   align-items: center;
  //   justify-content: center;
  // }